<div class="panel-group" id="recipe-filter">
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-breakfast">Breakfast</a>
        <span class="caret"></span>
      </h4>
    </div>
    <div id="collapse-breakfast" class="panel-collapse collapse in">
      <div class="panel-body">
        <form>
          <div class="checkbox">
            <label for="breakfast-under15">
              <input type="checkbox" id="breakfast-under15" value="breakfast-under-15">
              Under 15 minutes
            </label>
          </div>
          <div class="checkbox">
            <label for="breakfast-vegan">
              <input type="checkbox" id="breakfast-vegan" value="breakfast-vegan">
              Vegan
            </label>
          </div>
        </form>
      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-snacks">Snacks</a>
        <span class="caret"></span>
      </h4>
    </div>
    <div id="collapse-snacks" class="panel-collapse collapse in">
      <div class="panel-body">
        <form>
          <div class="checkbox">
            <label for="snacks-go">
              <input type="checkbox" id="snacks-go" value="snacks-go">
              On the go
            </label>
          </div>
          <div class="checkbox">
            <label for="snacks-vegan">
              <input type="checkbox" id="snacks-vegan" value="snacks-vegan">
              Vegan
            </label>
          </div>
          <div class="checkbox">
            <label for="snacks-veg">
              <input type="checkbox" id="snacks-veg" value="snacks-veg">
              Vegetarian
            </label>
          </div>
        </form>
      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-meals">Meals</a>
        <span class="caret"></span>
      </h4>
    </div>
    <div id="collapse-meals" class="panel-collapse collapse in">
      <div class="panel-body">
        <form>
          <div class="checkbox">
            <label for="meals-under15">
              <input type="checkbox" id="meals-under15" value="meals-under15">
              Under 15 mins
            </label>
          </div>
          <div class="checkbox">
            <label for="meals-vegan">
              <input type="checkbox" id="meals-vegan" value="meals-vegan">
              Vegan
            </label>
          </div>
          <div class="checkbox">
            <label for="meals-veg">
              <input type="checkbox" id="meals-veg" value="meals-veg">
              Vegetarian
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
