<div class="row" >
  <div class="col-xs-12">
    <a
      [routerLink]="['../../']"
    >Back to all Recipes</a>
  </div>
  <div *ngIf="detailRecipe; else loading">
  <div class="col-xs-12">
    <h3>{{ detailRecipe.name }}</h3>
    <img src="{{ detailRecipe.imagePath }}"
         alt="Recipe Name" class="img-responsive">
    <div class="panel-group" id="recipe-ingredients">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse-ingredients">Ingredients</a>
          </h4>
        </div>
        <div id="collapse-ingredients" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li
                *ngFor="let ingredient of detailRecipe.ingredients"
              >{{ ingredient.name }} - {{ ingredient.amount }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse-description">Test Description</a>
          </h4>
        </div>
        <div id="collapse-description" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>{{ detailRecipe.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="pull-left">
      <button class="btn btn-success" type="button" (click)="onAddToCart()">Add to Cart</button>
    </div>
    <div class="pull-right">
      <button class="btn btn-warning" (click)="onEditRecipe()">Edit Recipe</button>
      <button class="btn btn-danger">Delete Recipe</button>
    </div>
  </div>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
